{% extends 'home/base.html' %}

{% block title %}Change password{% endblock title %}
{% block page %}
    <div class="row justify-content-center" id="registration-form">
        <div class="col-sm-5">
            <form action="{% url 'regauth:change_password' %}" method="post" novalidate>
                {% csrf_token %}

                <div class="page-header">
                        <h2>Change password</h2>
                </div>

                {% include 'home/form.html' %}
                <button type="submit" class="btn btn-success">OK</button>
            </form>
        </div>
    </div>
{% endblock page %}