{% extends 'home/base.html' %}

{% block title %}SignUp{% endblock %}

{% block page %}
    <div class="row justify-content-center" id="registration-form">
        <div class="col-sm-5">
            <form action="{% url 'regauth:register' %}" method="post" novalidate>
                {% csrf_token %}

                <div class="page-header">
                    <h2>SignUp</h2>
                </div>

                {% include 'home/form.html' %}
                <button type="submit" class="btn btn-success">Create my Account</button>
            </form>
        </div>
    </div>
{% endblock page %}