{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block head %}
    <title>{% block title %}Base template{% endblock %}</title>
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/base-template.css' %}">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url  'blog:index' %}">TZ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url  'blog:index' %}">Main page<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      <!-- Authentication -->
        <ul class="nav navbar-nav navbar-right" id="login-navbar">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                        {% gravatar user.email 18 %}
                        <b class="caret">Profile</b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'regauth:change_password' %}">Change password</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a href="{% url 'regauth:user_logout' %}">LogOut</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{% url 'regauth:user_login' %}">LogIn</a></li>
            {% endif %}
        </ul>
      </div>
    </nav> <!-- End navbar -->

    {% block content %}
        <div class="container">
        <!-- Content here -->
            {% block page %}
            {% endblock %}
        </div> <!-- /.container -->
    {% endblock content %}

    {#  Messages  #}
    {% if messages %}
        <div class="row justify-content-center" id="system-message">
            <div class="col-sm-6">
                <ul class="help-list">
                    {% for message in messages %}
                        {% if message.level_tag == 'info' %}
                            <div class="alert alert-warning" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                                </li>
                            </div>
                        {% elif message.level_tag == 'success'%}
                            <div class="alert alert-success" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </li>
                            </div>
                        {% elif message.level_tag == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </li>
                            </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
